.register__section{
    background-image: url(../../../assets/images/bg-right.png),url(../../../assets/images/first-plan-bg.png);
    background-position: right,left;
    background-repeat: no-repeat,no-repeat;
    background-size: contain,contain;
    height: 100vh;
    overflow: hidden;
    .register__form{
        background-color: #fff;    
        border-radius: 1.5rem; 
        width:70%;
        box-shadow: 0 5px 15px rgb(219, 224, 211);
        h3{
            color: #e5859b; 
        }
        form{
            width:75%;
            .register__btn{
                background-color: #e5859b;
            }    
        }
    }
}
@media screen and (max-width:768px){
    .register__form{
        .register__image{
            width:55%;
            margin:auto;
        }
    }
}
@media screen and (max-width:992px){
    .register__form{
        width: 100% !important;
    }
}
