.forgot-pass__section{
    background-image: linear-gradient(to right top, #92c3e3, #a0d0ea, #b0dcf0, #c0e9f8, #d2f5ff);
    height: 100vh;
    padding-top: 5rem;
    .forgot-pass__card{
        background-color: #fff;
        width:40%;
        height: 50vh;
        border-radius: 1.5rem;
        box-shadow: 0 5px 15px rgb(219, 224, 211);
    }
}



