.forgot-pass__section{
    background-image: url(../../../assets/images/bg-right.png),
                      url(../../../assets/images/first-plan-bg.png);
    background-position: right,left;
    background-repeat: no-repeat,no-repeat;
    background-size: contain,contain;
    height: auto;
    margin:6rem 0 ;
    .forgot-pass__card{
        background-color: #fff;
        width:45%;
        border-radius: 1.5rem;
        box-shadow: 0 5px 15px rgb(219, 224, 211);
    }
}
@media screen and (min-width: 368px)and (max-width:768px){
    .forgot-pass__card{
        width:75% !important;
        h4{
            width:100% !important;
        }
    }
}
@media screen and (min-width: 769px) and (max-width:1120px){
    .forgot-pass__card{
        width:65% !important;
    } 
}

