.profile__section{
    padding-top: 5rem;
    .profile__card{
        background-color: #fff;
        height: 40vh;
        position: static !important;
        border-radius: 1.5rem;
        box-shadow: 0 5px 15px rgb(219, 224, 211);
        
        h3{
            color: #36a5e6;
        }
        span{
            white-space: nowrap;
        }
        .input__label{
            color:#36a5e6;
        }
        .update__btn{
           background-color: #36a5e6 !important;
        }
    }
}