.update-profile__section{
    // background-image: linear-gradient(to right top, #92c3e3, #a0d0ea, #b0dcf0, #c0e9f8, #d2f5ff);
    // height: 100vh;
    padding-top: 5rem;
    .update-profile__card{
        background-color: #fff;
        width:50%;
        height: 65vh;
        border-radius: 1.5rem;
        box-shadow: 0 5px 15px rgb(219, 224, 211);
        h3{
            color: #36a5e6;
        }
        .input__label{
            color:#36a5e6;
        }
        .update__btn{
           background-color: #36a5e6 !important;
        }
    }
}