.update-profile__section{
    padding-top: 5rem;
    .update-profile__card{
        background-color: #fff;
        width:50%;
        height: 71vh;
        border-radius: 1.5rem;
        box-shadow: 0 5px 15px rgb(219, 224, 211);
        h3{
            color: #36a5e6;
        }
        .input__label{
            color:#36a5e6;
        }
        .update__btn{
           background-color: #36a5e6 !important;
        }
    }
}