* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.home__navbar {
    width: 250px;
    height: 100vh;
    top:0;
    position: fixed;
    margin-left: -300px;
    background-color: #0971ad;
    transition: 0.5s;
}

.nav-link {
    font-size: 1rem;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: #d1cdcd26; 
}
.nav__active{
    background-color: rgb(211, 207, 207);
}
.dropdown {
   width:180px;
}
.profile__img{
    display: inline-block;
    width:20%;
}
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #ffffff26 !important;
}

.my-container {
    transition: 0.4s;
}


/* for navbar */

.active-nav {
    margin-left: 0;
}


/* for main section */

.active-cont {
    margin-left: 250px;
}

#menu-btn {
    background-color: #36a5e6;
   
}

#menu-btn:focus {
    box-shadow: 0 0 0 0.25rem #53535344;
}
/* //////////bta3y */
 .navbar__section {
  align-items: flex-end;
  background-color: rgb(67, 68, 68);
  color: white;
}

.navbar__section ul {
  list-style: none;
  margin-left: auto;
}
.navbar__section {
  background-color: white;
  color: black;
  box-shadow: -9px 13px 20px -12px rgba(36, 35, 35, 0.35);
  -webkit-box-shadow: -9px 13px 20px -12px rgba(29, 29, 29, 0.35);
  -moz-box-shadow: -9px 13px 20px -12px rgba(39, 38, 38, 0.35);
}
/* For Create Project*/
.create__project {
    width:11rem;
    height: 11rem;
    border-radius: 25%;
    top:25%;
    position: static !important;
    cursor: pointer;
    background-color: #36a5e6;
}
@media only screen and (min-width: 576px) and (max-width: 622px) {
    .margin__r {
      margin-right: 4rem !important;
    } 
}
@media only screen and (min-width: 768px) and (max-width: 1400px) {
    .margin__r {
      margin-right: 3.5rem !important;
    } 
}
  
  