* {
  box-sizing: border-box;
}
.all{
  width: 100%;
}
.all button{
  margin: auto;
}
/* .todo:first-child {
  margin-left: 1%;
} */
.droppable-col {
  width: 100%;
  background-color: #77B9F2;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
}.addDrop{
  width: 100%;
  color: white !important;
  background-color: #e5859b !important;
  font-size:1.2em;
}
.item{
  margin-bottom: 10px ;
  color:white;
  border:1px solid white;
  border-radius: 7px;
  padding: 15px;
}
.item.dragging {
  background-color: #e5859b;
}
@media only screen and (max-width:375px) {
  .modal__small {
    width: 95% !important;
  }
}